<mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-card class="movie-card" *ngFor="let movie of movies">
    <mat-card-title-group>
      <mat-card-title>{{movie.filmName}}</mat-card-title>
      <mat-card-subtitle>
          {{movie.filmRating}}, {{movie.genre}} <br> {{movie.filmDuration}}
        </mat-card-subtitle>
      <img mat-card-md-image src={{movie.image}} >
    </mat-card-title-group>
    <mat-card-content>
        <mat-card-actions>
            <button class="movietime" mat-button *ngFor="let showtime of movie.showtimes">{{showtime}}</button>
          </mat-card-actions>
    </mat-card-content>
</mat-card>